<section class="footer">
    <div class="container">
        <div class="col-3">
            <img src="/images/octopus-decor-logo-sm.png" alt="octopus-decor-logo">
        </div>
        <div class="col-3">
            <Strong>SOCIAL</strong>
            <br><br>
            <ul>
                <li><a href="./">Facebook</a></li>
                <li><a href="./">Instagram</a></li>
                <li><a href="./">Pinterest</a></li>
                <li><a href="./">Twitter</a></li>
            </ul>
        </div>
            <div class="col-3">
            <strong>OUR COMPANY</strong>
            <br><br>
            <ul>
                <li><a href="./">Deliver</a></li>
                <li><a href="./">Legal Notice</a></li>
                <li><a href="./">Terms</a></li>
                <li><a href="./">Secure Payment</a></li>
            </ul>
        </div>
            <div class="col-3">
            <strong>INFORMATION</strong>
            <br><br>
            <ul>
                <li>212 Seestrasse, Zurich</li>
                <li>Open everyday 8am - 5pm</li>
                <li>1 831 895 3647</li>
            </ul>
        </div>
    </div>
</section>