<header>
    <div class="container">
        <div class="navbar">
            <div class="navbar-link logo">
                <a href="/"><img src="/images/grey-OD-logo-sm.png" alt="octopus-logo"></a>
            </div>
            <div class="input-group">
                <input type="text" id="input" class="search-bar" placeholder="Search..">   
                <button type="button" id="searchBtn" class="search-button" onclick="findProduct()">
                    <i class="fas fa-search"></i>
                </button>  
            </div>
            <div class="navbar-link navbar-link-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="navbar-items navbar-items-right">
                <div class="navbar-link">
                    <strong><a href="/login">LOG IN</a></strong>
                </div>
                <div class="navbar-link">
                    <strong><a href="/shoppingCart" class="tag"><i class="fas fa-shopping-bag"></i></a></strong>
                </div>
            </nav>
        </div>
    </div>
</header>

