{{> header}}

<div class="row">
<section class="u-align-center u-clearfix u-section-1">
      <div class="u-clearfix u-sheet">
          <div class="page-title">
            <h1>OUR PRODUCTS</h1>
        </div>
          <div class="sort">
            <ul class="sort-holder">
              <li class="sort-category-1"><a href="./">All</a></li>
              <li class="sort-category-2">
                <div class="dropdown">
                  <button class="dropbtn">Price</button>
                  <div class="dropdown-content" id="price-id">
                    <a href="./">$1 - $20</a>
                    <a href="./">$30 - $50</a>
                    <a href="./">$60 - $80</a>
                    <a href="./">$90 - $100</a>
                    <a href="./">$100 - $200</a>
                  </div>
                </div>
              </li>
              <li class="sort-category-2">
                <div class="dropdown">
                  <button class="dropbtn">Brand</button>
                  <div class="dropdown-content">
                    <a href="./">Mary B Decorative Art</a>
                    <a href="./">Zeckos</a>
                    <a href="./">UnbeatableSale</a>
                    <a href="./">Christmas Central</a>
                  </div>
                </div>
              </li>
              <li class="sort-category-2 available"><a href="./">Availability</a></li>
            </ul>
          </div>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" src="https://img.shop.com/Image/240000/249600/249626/products/1686371538.jpg" alt="octopus-ocean-animal-bookend-pair-resin">
                <div class="u-align-center u-container-style u-expanded-width u-group u-group-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Octopus Ocean Animal Bookend Pair Resin</h4>
                    <h6 class="u-text u-text-2">$61.88</h6>
                    <a href="./" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" src="https://img.shop.com/Image/260000/260800/260874/products/1481472933.jpg" alt="Octopus Spirit Decorative Antique Bronze Finish Statue and Glass Decanter Set">
                <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Octopus Spirit Decorative Antique Bronze Finish Statue and Glass Decanter Set</h4>
                    <h6 class="u-text u-text-2">$109.80</h6>
                    <a href="./" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" src="https://img.shop.com/Image/250000/251800/251872/products/1541177129.jpg" alt="Unicorn Studios WU76559A4 Steampunk Octopus Wall Plaque - Bronze">
                <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Unicorn Studios WU76559A4 Steampunk Octopus Wall Plaque - Bronze</h4>
                    <h6 class="u-text u-text-2">101.25</h6>
                    <a href="./" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" src="https://img.shop.com/Image/240000/248000/248061/products/1652536794.jpg" alt="Set of 2 Silver Octopus and Starfish Glass Hurricane Candle Holders">
                <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Set of 2 Silver Octopus and Starfish Glass Hurricane Candle Holders</h4>
                    <h6 class="u-text u-text-2">$124.99</h6>
                    <a href="./" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-2-light-3 u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" src="https://img.shop.com/Image/260000/260800/260874/products/1347194474__175x175__.jpg" alt="Squiggly Armed Octopus Bookends Set of 2">
                <div class="u-align-center u-container-style u-expanded-width u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Squiggly Armed Octopus Bookends Set of 2</h4>
                    <h6 class="u-text u-text-2">$97.99</h6>
                    <a href="./" class="u-btn u-btn-rectangle u-button-style u-none u-text-palette-1-base u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

{{> footer}}




