{{> header}}

<section class="container">
    <div class="banner">
        <h1>OUR PRODUCTS</h1>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="boxes">
            <div class="col-3">
                <img src="https://img.shop.com/Image/240000/249600/249626/products/1686371538.jpg" alt="octopus-ocean-animal-bookend-pair-resin">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/260000/260800/260874/products/1481472933.jpg" alt="Octopus Spirit Decorative Antique Bronze Finish Statue and Glass Decanter Set">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/250000/251800/251872/products/1541177129.jpg" alt="Unicorn Studios WU76559A4 Steampunk Octopus Wall Plaque - Bronze">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/240000/248000/248061/products/1652536794.jpg" alt="Set of 2 Silver Octopus and Starfish Glass Hurricane Candle Holders">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="boxes">
            <div class="col-3">
                <img src="https://img.shop.com/Image/240000/249600/249626/products/1686371538.jpg" alt="octopus-ocean-animal-bookend-pair-resin">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/260000/260800/260874/products/1481472933.jpg" alt="Octopus Spirit Decorative Antique Bronze Finish Statue and Glass Decanter Set">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/250000/251800/251872/products/1541177129.jpg" alt="Unicorn Studios WU76559A4 Steampunk Octopus Wall Plaque - Bronze">
            </div>
            <div class="col-3">
                <img src="https://img.shop.com/Image/240000/248000/248061/products/1652536794.jpg" alt="Set of 2 Silver Octopus and Starfish Glass Hurricane Candle Holders">
            </div>
        </div>
    </div>
</section>

{{> footer}}



