<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- for mobile first responsive screens" -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content="Octopus Decor Store">
    <meta name="keywords" content="octopus, decor, furnishings, buy octupus decor">
    <meta name="author" content="Deborah Meda">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&amp;family=Montserrat&amp;family=Sacramento&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f8fcd991a4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/toggle.js"></script>
  </body>
</html>
