{{> header}}

<div class="u-align-center u-clearfix u-section-1" id="carousel_89ba">
    <div class="u-clearfix u-sheet u-sheet-1 login-container">
        <form action="/index" method="get" id="login-form">
            <span>Username:  </span>
            <input type="text" id="LI_username" name="username" placeholder="Username..">
            <br> <br>
            <span>Password:  </span>
            <input type="password" id="LI_password" name="password" placeholder="Password..">
            <br><br>
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>
</div>

{{> footer}}

<script src="/javascripts/index.js"></script>
