article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

ul,
ol {
  padding-left: 20px;
}

.u-btn {
  display: table;
  cursor: pointer;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  font-style: initial;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  align-self: flex-start;
}

.u-btn-rectangle {
  border-radius: 0 !important;
}

.u-text a,
.u-post-content a,
.u-tab-item a,
.u-nav-item a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
  color: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  height: auto;
  min-height: 100%;
}
body,
aside,
.u-sidebar-block,
section,
header,
footer {
  position: relative;
}
section > *,
header > *,
footer > *,
.u-sheet > * {
  position: relative;
}
base {
  display: none;
}
a {
  color: #259bca;
  text-decoration: none;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}

ul.u-text li:last-child {
  margin-bottom: 0;
}

.u-image {
  object-fit: contain;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: .5px solid lightgray;
}

img.u-image,
.u-video-poster {
  overflow: hidden;
}

.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}

.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}

section.u-image,
.u-sheet.u-image,
.u-group.u-image,
.u-layout-cell.u-image {
  overflow: visible;
}

.u-text .u-image {
  display: inline-block;
}

.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .u-sheet {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: 540px;
  }
}

@media (min-width: 280px) and (max-width: 575px) {
  .u-sheet {
    width: 270px;
  }
}

.u-sheet .u-sheet {
  width: 100%;
}

.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-valign-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.u-valign-top > * {
  flex-shrink: 0;
}

.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}

.u-sheet.u-content-layout {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 991px) {
  .u-sheet.u-content-layout {
    flex-direction: column;
    align-items: center;
  }
}

.u-group .u-container-layout > * {
  position: relative;
}
.u-group {
  display: flex;
}

.u-align-center {
  text-align: center;
}

.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
}

.u-text {
  word-wrap: break-word;
  position: relative;
}

.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
  display: flex;
  position: relative;
}

.u-list-control {
  display: flex;
  position: relative;
}
.u-list:not(.u-repeater) {
  display: flex;
  flex-direction: column;
}
.u-list:not(.u-repeater) .u-repeater {
  flex: 1;
}

.u-list:not(.u-repeater) .u-list-control,
.u-blog:not(.u-repeater) .u-list-control,
.u-products:not(.u-repeater) .u-list-control {
  flex: 0;
}

.u-text .u-icon,
.u-btn .u-icon,
.u-table-cell .u-icon,
.u-tab-link .u-icon {
  position: relative;
  display: inline;
  line-height: inherit;
  font-size: 1em;
  fill: currentColor;
  vertical-align: middle;
  white-space: nowrap;
}

.u-text .u-icon.u-file-icon > img[src],
.u-btn .u-icon.u-file-icon > img[src],
.u-table-cell .u-icon.u-file-icon > img[src],
.u-tab-link .u-icon.u-file-icon > img[src] {
  display: inline-block;
  height: 1em;
  width: auto;
  line-height: 1;
  vertical-align: -0.15em;
}

.u-text .u-icon > svg,
.u-btn .u-icon > svg,
.u-table-cell .u-icon > svg,
.u-tab-link .u-icon > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: -0.15em;
}

.u-text .u-icon > svg + img,
.u-btn .u-icon > svg + img,
.u-table-cell .u-icon > svg + img,
.u-tab-link .u-icon > svg + img {
  position: absolute !important;
  left: calc(50% - 0.5em) !important;
  top: calc(50% - 0.5em) !important;
  display: inline !important;
  padding: 0.5em !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 1 !important;
}

.u-text .u-btn {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  white-space: normal;
  text-align: inherit;
}

/*begin-variables font-family*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald',sans-serif;
}
/*end-variables font-family*/

/*begin-variables color*/
.u-image {
  color: #111111;
}

.u-palette-1-light-3,
.u-body.u-palette-1-light-3,
.u-container-style.u-palette-1-light-3:before,
.u-container-layout.u-palette-1-light-3:before,
.u-table-alt-palette-1-light-3 tr:nth-child(even) {
  color: #111111;
  background-color: #e9f2fa;
}

.u-button-style.u-palette-1-light-3,
.u-button-style.u-palette-1-light-3[class*="u-border-"] {
  color: #111111 !important;
  background-color: #e9f2fa !important;
}

.u-button-style.u-palette-1-light-3:hover,
.u-button-style.u-palette-1-light-3[class*="u-border-"]:hover,
.u-button-style.u-palette-1-light-3:focus,
.u-button-style.u-palette-1-light-3[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-palette-1-light-3:active,
.u-button-style.u-button-style.u-palette-1-light-3[class*="u-border-"]:active,
.u-button-style.u-button-style.u-palette-1-light-3.active,
.u-button-style.u-button-style.u-palette-1-light-3[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-palette-1-light-3,
li.active > .u-button-style.u-button-style.u-palette-1-light-3[class*="u-border-"] {
  color: #111111 !important;
  background-color: #c2dbf1 !important;
}

.u-hover-palette-1-light-3:hover,
.u-hover-palette-1-light-3[class*="u-border-"]:hover,
.u-hover-palette-1-light-3:focus,
.u-hover-palette-1-light-3[class*="u-border-"]:focus,
.u-active-palette-1-light-3.u-active.u-active,
.u-active-palette-1-light-3[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-palette-1-light-3:hover,
a.u-button-style.u-hover-palette-1-light-3[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-palette-1-light-3,
a.u-button-style:hover > .u-hover-palette-1-light-3[class*="u-border-"],
a.u-button-style.u-hover-palette-1-light-3:focus,
a.u-button-style.u-hover-palette-1-light-3[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-palette-1-light-3:active,
a.u-button-style.u-button-style.u-active-palette-1-light-3[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-palette-1-light-3.active,
a.u-button-style.u-button-style.u-active-palette-1-light-3[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-palette-1-light-3,
a.u-button-style.u-button-style.active > .u-active-palette-1-light-3[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-palette-1-light-3,
li.active > a.u-button-style.u-button-style.u-active-palette-1-light-3[class*="u-border-"] {
  color: #111111 !important;
  background-color: #e9f2fa !important;
}

a.u-link.u-hover-palette-1-light-3:hover {
  color: #e9f2fa !important;
}

.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base[class*="u-border-"] {
  color: #478ac9 !important;
}

a.u-button-style.u-text-palette-1-base:hover,
a.u-button-style.u-text-palette-1-base[class*="u-border-"]:hover,
a.u-button-style.u-text-palette-1-base:focus,
a.u-button-style.u-text-palette-1-base[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-palette-1-base:active,
a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-palette-1-base.active,
a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"].active {
  color: #387cbd !important;
}

a.u-button-style:hover > .u-text-hover-palette-1-base,
a.u-button-style:hover > .u-text-hover-palette-1-base[class*="u-border-"],
a.u-button-style.u-button-style.u-text-hover-palette-1-base:hover,
a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-palette-1-base:focus,
a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-text-active-palette-1-base,
a.u-button-style.u-button-style.active > .u-text-active-palette-1-base[class*="u-border-"],
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-palette-1-base:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-palette-1-base.active,
.u-popupmenu-items.u-text-hover-palette-1-base .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-palette-1-base .u-nav-link.active {
  color: #478ac9 !important;
}

.u-text-palette-1-base svg,
.u-text-hover-palette-1-base:hover svg,
.u-button-style:hover > .u-text-hover-palette-1-base svg,
.u-button-style.u-button-style.active > .u-text-active-palette-1-base svg,
.u-text-hover-palette-1-base:focus svg {
  fill: #478ac9;
}

.u-link.u-text-palette-1-base:hover {
  color: #387cbd !important;
}

a.u-link.u-text-hover-palette-1-base:hover {
  color: #478ac9 !important;
}
/*end-variables colors*/

/*begin-variables sitestylecss*/  

/** common-rules **/
h1.u-title {
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2.u-subtitle {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1:not(.u-title) {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2:not(.u-subtitle) {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

h6 {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/** common-rules **/

/** publish-rules **/
/*begin-media rules*/
@media (max-width: 767px) {
  h1.u-title {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  h1.u-title {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  h2.u-subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  h1:not(.u-title) {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  h2:not(.u-subtitle){
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 1.5rem;
  }
}
/*end-media rules*/

