html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #40514E;
}

a {
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

/* Global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

h1 {
  color: #2c3229;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400px;
  letter-spacing: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  padding-top: 10px;
  border: .5px solid lightgray;
}

header a {
  text-transform: uppercase;
  font-size: 18px;
  color: #2c3229;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

header img {
  width: 200px;
  height: auto;
  margin-bottom: 2px;
}

/* Navbar */
.navbar {
  display: flex;
  padding: 16px;
}

.navbar a {
  margin-bottom: 10px;
}

.navbar-items {
  display: flex;
}

.navbar-link {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items-right {
  margin-left: auto;
}

.navbar-link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar-items,
  .navbar {
    flex-direction: column;
  }

  .navbar-items {
    display: none;
  }

  .navbar-items-right {
    margin-left: 0;
  }

  .navbar-toggle-show {
    display: flex;
   }

   .navbar-link-toggle {
     align-self: flex-start;
     display: flex;
     position: relative;
     cursor: pointer;
     padding-top: 10px;
   }

   .navbar-link {
     padding-bottom: 10px;
   }
}

.login-container {
  margin: 100px auto;
  text-align: center;
  
}

/* Search Bar */
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.input-group input[type=text]{
  width: auto;
  height: 35%;
  border-radius: 10px;
  border: none;
}

.input-group button{
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: gray;
  background-color: white;
} 

/* Banner */
.banner {
  border: 5px #c3b1e1 solid;
  min-height: 100px;
  width: 100%;
  overflow-x: hidden;
  margin: 30px 0 30px 0;
  color: #c3b1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Grid-View*/
* {
  box-sizing: border-box;
}

.row {
  margin: 0.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float:left;
  padding: 15px;
}

/* Page Title */
.page-title {
  margin-top: 30px;
  text-align: center;
}

/* Sort */
.sort {
  margin-top: 30px;
  text-align: center;
}

.sort-holder {
  list-style: none;
  text-align: center;
}

.sort-holder li {
  display: inline-block;
  padding-left: 0 21px;
  position: relative;
}

.sort-holder li.sort-category-1 {
  padding: 20px;
}


.sort-holder li.sort-category-2 {
  border-left: 1px solid #dfdfdf;
  padding: 20px;
}

.dropbtn {
  background-color: white;
  color: #111111;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: lightgray;
}

/* Mobile settings - Footer Grid */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Boxes */
.boxes img {
  max-width: 100%;
  max-height: 100%; 
}

.boxes .col-3 {
  border: 1px rgb(215, 214, 216) solid;
  height: 400px;
  margin-right: 0.5%;
}

/* Footer */
.footer {
  border-top: 0.5px solid lightgray;
  color: #2c3229;
  padding: 120px 0 30px;
  margin-top: 30px;
}

.footer img {
    width: 60%;
    height: auto;
    margin-top: 18px;
}

.footer-titles {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 10px;

}

.footer a {
  color: #2c3229;
  text-decoration: none;
}

.footer a:hover {
  color: lightgray;
}

.footer li {
  list-style: none;
  line-height: 1.6;
  margin-bottom: 10px;
}